<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973691889479-ekq7s0qtp920d35rdj11nu23fuea5b53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973691889479-ekq7s0qtp920d35rdj11nu23fuea5b53</string>
	<key>API_KEY</key>
	<string>AIzaSyCQieiqJ-PsRoRegcJvZCl1aIIuJeycrNU</string>
	<key>GCM_SENDER_ID</key>
	<string>973691889479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.opendive.AuthenticationExample</string>
	<key>PROJECT_ID</key>
	<string>nearcon23</string>
	<key>STORAGE_BUCKET</key>
	<string>nearcon23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973691889479:ios:a5bba529d6fffc8a5fce62</string>
</dict>
</plist>